<!DOCTYPE html>
<html>
  <head>
    <title>Nodepop API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Nodepop API</h1>
    <p>Documentación de la API en <b>'readme.md'</b></p>

  </body>
</html>
